h1, h2{
    color: #000080;
}
#copyright {
    font-size: 80%;
}
main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul a {
    text-decoration: none;
}
a:hover, a:focus {
    color: #006400;
}
footer {
    font-style: italic;
}
h2 {
    font-style: oblique;
}
h1 {
    text-transform:lowercase
}